.markdown-editor{
    border-radius: 5px;
    max-height: 70vh;
}

textarea{
    resize: none;
}

.markdown-viewer{
    background-color:antiquewhite;
    border-radius: 5px;
    max-height: 70vh;
    overflow-wrap: break-word;
    overflow-y: auto;
}

.editor-div{
    margin-top: 20px;
    height: 70vh;
}

.editor-textarea{
    height: 70vh;
    margin: 0px;
    padding: 0px;
}

.save-div{
    width: 97vw;
    display: flex;
    justify-content: space-between;
}

.cheatsheet-link{
    color: #0000EE
}