.template-viewer{
    height: 510px;
    max-height: 510px;
    overflow-y: scroll;
    border: solid 1px;
    border-radius: 10px;
}

.body-container{
    height: 520px;
    max-height: 520px;
}

.template-subject{
font-size: large;
}

.spacer{
 height: 10px;  
}