.type-markdown{
    height: 500px;
}

.markdown-textarea{
    margin-left: 0px;
}

.template-div{
    border-width: 1px;
    border-style: solid;
    border: 2px 0px 0px 0px;
    border-radius: 15px;
    height: 500px;
    max-height: 500px;
}

.view-template-card{
    border: solid 1px;
    border-radius: 5px;
    max-height: 465px;
    height: 465px;
    overflow-y: auto;
}

.template-titlecard{
    cursor: pointer;
}