.markdown-preview{
    max-width: 612px;
    overflow-wrap: break-word;
}

.markdown{
    width: 50%;
    height: 100vh;
    padding: 20px;
    outline: none;
    max-width: inherit;
}

h1, h2, h3, p {
    white-space: break-spaces;
}